.find-button {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $dark-grey;
    border-radius: 50%;
    top: 115px;
    left: 15px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    
    .icon {
        @include sprite($ic_tool);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}