.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    text-align: center;
    @include transform(scale(0));
    @include transition-property(transform, opacity);
    @include transition-duration(0ms, 300ms);
    @include transition-delay(300ms, 0ms);
    
    &_shown {
        pointer-events: auto;
        opacity: 1;
        @include transform(scale(1));
        @include transition-delay(0ms);
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    &__dialog {
        width: 600px;
        position: relative;
        display: inline-block;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 100px 0 rgba(0,0,0,0.5);
        vertical-align: middle;

        &-input {
            background-color: $grey;
            height: 45px;
            width: 360px;
            border-radius: 7px;
            padding: 0 10px 0 45px;
            font-size: 14px;
        }
        &-green-button,
        &-blue-button {
            width: 360px;
            height: 65px;
            border-radius: 9px;
            font-size: 16px;
            color: #fff;
            background-color: $green;
            margin: 15px 0 10px;
        }
        &-blue-button {
            background-color: $blue;
        }
        .input-container {
            margin: 0 0 10px;
            
            & > .icon {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 15px;

                &.lock {
                    @include sprite($ic_lock);
                }
                &.at {
                    @include sprite($ic_at);
                }
                &.phone {
                    @include sprite($ic_phone);
                    left: 18px;
                }
                &.fio {
                    @include sprite($ic_fio);
                }
            }
            & > .loader {
                position: absolute;
                box-shadow: inset 0 0 0 3px #fff;
                top: 20px;
                right: 20px;

                &:after, &:before {
                    background-color: $green;
                }
            }
            & > .popup__dialog-green-button,
            & > .popup__dialog-blue-button {
                margin: 0;
            }
        }
        & &-button-container {
            margin: 15px 0 10px 0;
        }
        &-line {
            height: 1px;
            width: 304px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 12px;
            margin: auto;
            background-color: $mid-grey;
        }
        &-password {
            border-radius: 0;
            @include border-top-radius(7px);
        }
        &-repeat {
            border-radius: 0;
            @include border-bottom-radius(7px);
        }
        &-password-container {
            & > .icon.lock {
                top: 12px;
                bottom: auto;
            }
        }
    }
}