.scrollable {
    .iScrollVerticalScrollbar {
        position: absolute;
        width: 15px;
        top: 5px;
        right: 0;
        bottom: 5px;
        z-index: 999999999;

        .iScrollIndicator {
            cursor: pointer;

            &:after {
                content: "";
                display: block;
                width: 5px;
                height: 100%;
                margin-left: 5px;
                border-radius: 5px;
                background-color: rgba(10,10,10,0.2);
            }
            &:active:after {
                background-color: rgba(10,10,10,0.5);
            }
        }
    }
    
    &:hover > .iScrollVerticalScrollbar .iScrollIndicator:after {
        background-color: rgba(10,10,10,0.5);
    }
}