.profile-viewer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    @include transform(scale(0));
    @include transition-property(transform);
    @include transition-delay(500ms);
    
    &_shown {
        @include transition-delay(0ms);
        @include transform(scale(1));
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        cursor: pointer;
        opacity: 0;
        @include transition(opacity 500ms);
        
        &_shown {
            opacity: 1;
        }
    }
    &__sidebar {
        padding: 0 40px;
    }
    &__header {
        position: relative;
        height: 100px;
        line-height: 100px;
        text-align: center;
        font-weight: 600;
    }
    &__close {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        font-size: 20px;
        line-height: 20px;
        cursor: pointer;
        text-decoration: none;
        color: #000;

        &:active {
            font-size: 19px;
        }
    }
    &__main {
        position: relative;
        padding: 0 0 0 120px;
    }
    &__avatar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background-size: cover;
        background-position: center;
        border: solid 2px $grey;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    &__name {
        color: $blue;
        font-size: 16px;
        margin: 0;
        font-weight: 500;
        line-height: 30px;
        padding: 40px 0 0 0;
    }
    &__date {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        line-height: 30px;
        padding: 0 0 40px 0;
    }
    &__row {
        padding: 0 0 0 40px;
        height: 60px;
        font-size: 14px;
        position: relative;
        font-weight: 600;
        
        &-key {
            float: left;
            line-height: 60px;
            color: $blue;
        }
        &-value {
            float: right;
            line-height: 60px;
        }
        .icon {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            
            &.phone { @include sprite($ic_profile_phone); }
            &.email { @include sprite($ic_email); }
            &.viber { @include sprite($ic_viber); }
            &.whatsapp { @include sprite($ic_whatsapp); }
        }
    }
    &__separator {
        height: 1px;
        background-color: $mid-grey;
    }
    &__edit-button-container {
        padding: 40px 0 0 0;
        text-align: center;
        
        .green-convex-button {
            width: 200px;
        }
    }
}