.objects-list {
    &__header {
        margin: 50px 0 0 0;
        line-height: 50px;
        position: relative;
        
        &-button {
            position: relative;
            cursor: pointer;
            display: inline-block;
            width: 50px;
            height: 50px;
            
            input:checked + &-background {
                background-color: $light-blue;
                height: 100%;
            }
            .icon {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                
                &.list { @include sprite($ic_results_list); }
                &.grid { @include sprite($ic_results_grid); }
            }
            input:checked + &-background + .icon {
                &.list { @include sprite($ic_results_list_checked); }
                &.grid { @include sprite($ic_results_grid_checked); }
            }
        }
        &-results {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            padding: 0 0 0 100px;
            text-align: center;
            z-index: -1;
            color: $mid-blue;
            font-weight: normal;
            
            span {
                color: $green;
                font-weight: normal;
            }
        }
    }
    &__sort {
        line-height: 80px;
        background-color: $grey;
        border-bottom: 1px solid $mid-grey;
        text-align: center;
        
        &-option {
            display: inline-block;
            position: relative;
            margin: 0 20px;
            font-weight: bold;

            input {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                opacity: 0;
                margin: 0;
                cursor: pointer;
                
                &:checked { display: none; }
            }
            input:checked + input + &-name,
            input:checked + &-name {
                color: $blue;
                border-bottom: solid 2px;
                height: 80px;

                &:after {
                    position: absolute;
                    top: 30px;
                    right: -25px;
                    content: "➔";
                    width: 20px;
                    line-height: 20px;
                    @include transform(rotateZ(-90deg));
                    @include transition-property(transform);
                    @include transition-duration(400ms);
                }
            }
            input:checked + &-name:after {
                @include transform(rotateZ(90deg));
            }
        }
    }
    &__results {
        position: absolute;
        top: 180px;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        
        &-void {
            text-align: center;
            padding: 20px 0;
            color: $blue;
            font-weight: 600;
        }
        &-item {
            display: block;
            border-bottom: solid 2px $blue;
            font-size: 14px;
            cursor: pointer;
            color: #000;
            text-decoration: none;
            white-space: nowrap;
            
            &_center .objects-list__results-item-additional {
                padding: 0;
            }
            &:active {
                opacity: initial;
            }
            &-fav {
                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 100%;

                .fav {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    @include sprite($ic_radio_fav);

                    &_checked {
                        @include sprite($ic_radio_fav_checked);
                    }
                    &:active {
                        @include transform(scale(0.9));
                        @include sprite($ic_radio_fav_checked);
                        opacity: 0.5;
                    }
                }
            }
            &-date {
                color: #999;
                font-size: 12px;
                text-align: right;
                
                p {
                    display: inline-block;
                    margin: 5px 15px -15px 0;
                }
            }
            &-cover {
                display: inline-block;
                width: 130px;
                height: 130px;
                padding: 15px;
                background-clip: content-box;
                background-size: cover;
                background-position: center;
            }
            &-info {
                vertical-align: top;
                display: inline-block;
                padding-top: 15px;
                line-height: 16px;
                padding-bottom: 5px;
                
                p {
                    position: relative;
                    margin: 0 0 13px;
                    padding-left: 30px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                    .icon {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        
                        &.address { @include sprite($ic_find_address); }
                        &.cost { @include sprite($ic_find_cost); }
                        &.fio { @include sprite($ic_find_fio); }
                        &.phone { @include sprite($ic_find_phone); }
                    }
                }
            }
            &-additional {
                position: relative;
                border-top: solid 1px $mid-grey;
                padding: 0 0 0 40px;
                
                p {
                    display: inline-block;
                    width: 33.333333%;
                    text-align: center;
                    margin: 9px 0;
                }
            }
        }
        &-loader-container {
            position: relative;
            height: 50px;
            
            .loader {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                box-shadow: inset 0 0 0 3px $mid-blue;
            }
        }
    }
    
    &_grid {
        left: 250px;
        width: auto;
        opacity: 0;
        @include transition-property(opacity, transform);
        @include transition-duration(500ms, 0ms);
        @include transition-delay(0ms, 500ms);
        
        &.right-sidebar_shown {
            @include transition-duration(500ms, 0ms);
            @include transition-delay(0ms);
            opacity: 1;
        }
    }
    &_grid &__results {
        text-align: center;
        background-color: $grey;
        
        &-wrapper {
            display: inline-block;
            text-align: left;
            width: 2160px;

            @media all and (max-width: 2410px) {
                width: 1890px;
            }
            @media all and (max-width: 2140px) {
                width: 1620px;
            }
            @media all and (max-width: 1870px) {
                width: 1350px;
            }
            @media all and (max-width: 1600px) {
                width: 1080px;
            }
        }
        &-item {
            position: relative;
            display: inline-block;
            width: 250px;
            height: 300px;
            margin: 10px;
            overflow: hidden;
            border-radius: 5px;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
            background-color: #fff;
            
            &:hover {
                box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
            }
            &-date {
                position: absolute;
                top: 234px;
                right: 10px;
                
                p {
                    margin: 0;
                }
            }
            &-cover {
                display: block;
                width: 100%;
                height: 150px;
                padding: 0;
            }
            &-info {
                display: block;
                padding: 10px 0 0 10px;
                
                p {
                    margin: 0 0 9px;
                }
            }
        }
        &-loader-container .loader {
            &:after, &:before {
                background-color: $grey;
            }
        }
    }
}